<p>Hey {{ name }},</p>
<p>We have received a request to reset the password for the storemate account associated with {{email}}.</p>
<p>Please note that this link will expire within 1 hour. After 1 hour, you must submit a new password request.</p>
<p>To reset your password <a href={{url}}>click here</a></p>
<p>If You did not request a new password, please let us know immediately by replying to this email.</p>
<p>- The Storemate Team</p>